name: ci

on:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  quality:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Hatch
        run: |
          pip install --upgrade pip
          pip install docker

      - name: Test docker
        run: |
          python script.py
